:root {
	--background-color: 		#AA4338;
	--primary-color:			#CE6E64;
	--secondary-color:			#F1A29A;
	--deep-color:				#630B02;
	--pop-text:					#FFF;
}


html {
  scroll-behavior: 				smooth;
  overflow-x: 					hidden;
}

.noscroll {
	overflow-y:					hidden;
}

.emailbox {
	padding-top:				20px;
}

.emailinput {
	width:				      	100%;
	margin:				      	5px;
	padding:			      	5px;
	border-radius:		  		5px;
	border-color:		    	var(--primary-color);
	background-color:	  		var(--background-color);
	color:				      	#FFF;
	font-size:			    	1em;
}

.emailinput::placeholder {
	color:						#fff;
	opacity:					50%;
}

img {
	width:						100%;
	height:						100%;
	border-radius:				100px;
	box-shadow: 				rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.works {
	border-radius:				0px;
	object-fit: 				cover;
	height: 					100%;
	box-shadow:					none;
}

.worksmod {
	margin-right:				15%;
}

.overworks {
	border-radius:				10px;
	object-fit: 				cover;
	transition-duration: 		0.5s;
	box-shadow:           		0px 0px 10px #000;
	max-height:           		50vh;
}

.overworks:hover {
	box-shadow:          		0px 0px 20px #000;
}

.portrait {
  height:              			auto;
}

.center-text {
	align-content:				center;
	margin-left:				15%;
	margin-right:				15%;
	margin-top:					20px;
}

p {
	padding-top:				0px;
	margin-block-start:			0px;
}

body {
	background-color: 			var(--background-color);
	color:			  			#fff;
	Font-family: 				Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	padding-left:				0px;
	padding-right:				0px;
	margin-left:				0px;
	margin-right:				0px;
}

h1 {
	color: 						var(--primary-color);
	font-size:					clamp(150px, 15vw, 300px);
	filter:						drop-shadow(0px 0px 10px #630B02);
	margin-bottom:				-20px;
}

h3 {
	color: 						var(--secondary-color);
	letter-spacing:				3.8px;
	font-size:					2vw;
}

h2 {
	font-size:					3vw;
}

h4 {
	font-size:					1.5em;
	margin-bottom:				0px;
}

h5 {
	font-size:					1em;
	margin-bottom:				0px;
	text-align:					right;
}

sub {
	margin-top:					-30px;
}

a {
	color:						#872218;
	text-decoration:			none;
	transition-duration: 		0.5s;
	cursor:						pointer;
}

.grid-container {
	padding:					0px;
	display: 					grid;
	grid-template-columns: 		1fr 1fr;
	grid-gap: 					20px;
	font-size:					2vw;
	color:						#FFF;
}

.grid-single {
	grid-template-columns:		1fr;
	color:						#FFF;
}

.social {
	color:						#FFF;
	text-align:					center;
}

.grid-cont-tight {
	grid-gap:					0vw;
}

.overlay-img:hover {
	cursor:						pointer;
}

.grid-cont-overlay {
  background-color:       		none;
  grid-template-columns: 		0.1fr 1fr;
}

.grid-cont-sub {
	grid-template-columns: 		minmax(200px, 1fr) minmax(500px, 1fr);
	background-color:			#FFF;
	padding:					0px;
	grid-gap: 					0px;
}

.grid-overlay-container {
	padding:					0px;
	display: 					grid;
	grid-template-columns: 		1fr 1fr 1fr;
	grid-gap: 					20px;
	font-size:					2vw;
	color:						var(--background-color);
}

.four {
	grid-template-columns:		1fr 1fr 1fr 1fr;
}

.textright {
	text-align:					right;
}

.overlay-left {

}

.overlay-mid {

}

.overlay-right {

}


.title {
	padding-left: 				15%;
	color:						var(--primary-color);

}

.textMid {
	padding-top:				20px;
}

a:hover {
	color:						#000;
}

#main {
	width:						100%;
	margin:						auto;
}

.mainblur {
	filter:						blur(10px);
}

#topsection {
	width: 						100vw;
	height: 					100vh;
	margin-bottom:				25%;
}

#head {
	width: 						75%;
	margin-left:				auto;
	margin-right:				auto;
	text-align:					center;
}

.left {
	padding:					20%;
	padding-top:				5%;
	padding-bottom:				5%;
}

.smallest {
	font-size:					1em;
	font-style: 				italic;
}

.nopad {
	padding: 					0px;
}

.fit {
	color:						#872218;
	font-size:					calc(8px + .4vw);
}

.fit-profile {
	color: 						#fff;
	font-size: 					calc(8px + 1vh);
}

ul {
	padding:					0px;
	padding-top: 				0px;
}

.worksleft {
	padding:					5%;
	transition-duration:		0.3s;
}

.works-pad {
	padding-bottom:				5%;
}

.hoverwork {
	transition-duration:		0.3s;
}

.whitebox {
	background-color:			#fff48e;
	padding:					10px;
}

.hoverwork:hover {
	box-shadow:					0px 0px 20px #000;
}

.right {
	padding:					20%;
	padding-left:				5%;
	padding-top:				5%;
	padding-bottom:				0%;
}

.small {
	color:						#872218;
	font-size: 					20px;
}

.smallOver {
	color:						#872218;
	font-size:					auto;
}

.backdrop {
	background-color: 			var(--primary-color);
}

.section {
	padding-top:				80px;
	margin-bottom:				25%;
	transition-duration:		0.5s;
}

#nav {
	overflow:					hidden;
	padding:					20px;
	text-align:			   		center;
	color:						#000;
	//transition-duration: 		0.5s;
	width:						100vw;
	padding-left:				0px;
	padding-right:        		0px;
	margin-left:				0px;
}

.navMod {
	padding-top:				77px;
}

#imagePop {
	top:				        0px;
	position: 			     	fixed;
	height:					    100vh;
	width:					    100vw;
	z-index:				   	210;
	overflow: 				   	hidden;
	transition-duration: 		0.5s;
	align-content:				center;
}

#imageimportedcontent {
	background-color: #000;
}

.hideimage {
	display:					none;
}

.black {
	color:						#000;
}

.white {
	color:						#FFF;
}

.fullimage {
	height: 					100vh;
	object-fit:					scale-down;
}

.showimage {
	display:					block;
}


#overlay {
	top:				        0px;
	position: 			     	fixed;
	height:					    120%;
	width:					    100%;
	background-color:	   		#FFF;
	z-index:				   	200;
	overflow: 				   	hidden;
	transition-duration: 		0.5s;
}

.overlayname {
	font-size:          		100%;
}

.overlaycontent {
	color:				      	#872218;
	position: 			    	fixed;
	left: 				      	50%;
	top: 				        50%;
	-webkit-transform: 			translate(-50%, -50%);
	transform: 		      		translate(-50%, -50%);
	width:				      	90vw;
	height:             		100vh;
}

.hideoverlay {
	animation: 					fadeout 0.3s linear;
	opacity: 					0%;
}

.contact {
	font-size:					4vw;
	color:						#FFF;
	border-bottom:				1px solid var(--secondary-color);
	padding:					0px 20px 0px 20px;
}

.contact:hover {
	border-bottom:				1px solid var(--secondary-color);
	box-shadow: 				inset 0px -4.5vw 0px 0px var(--secondary-color);
	text-shadow:				4px 4px #000;
	color:						#326da8;
}

.hiddenstart {
	display:					none;
}

.showoverlay {
	display:					block;
	opacity: 					90%;
	animation: 					fadein 0.5s linear;
}

.cornerfix {
	position: 					fixed;
	float: 						right;
	margin-right:				20px;
	z-index:					201;
}

.stickytop {
  background-color:	    		var(--primary-color);
  position: 					fixed;
  margin:						auto;
  top: 							0;
  opacity:						80%;
}

.stickytop:hover{
  opacity:						100%;

}

.sticky + .content {
  padding-top: 					102px;
}

.invisi {
	display:					none;
}

.navbutton {
	border-bottom:				1px solid var(--secondary-color);
	background-color:			transparent;
	font-size:					30px;
	font-weight: 				bold;
	padding:					6px 18px;
	margin-left:				20px;
	margin-right:				20px;
	transition-duration: 		0.5s;
}

.showmore {
	margin-left: 				0px;
	margin-right:				0px;
	float:						right;
}

.showmore:hover {
	cursor:						pointer;
}

.navbutton:hover {
	border-bottom:				1px solid var(--secondary-color);
	box-shadow: 				inset 0px -50px 0px 0px var(--secondary-color);
	color:						#872218;
	cursor:						pointer;
}

.email {
	height: 					0px;
	width:						100%;
	color:						#000;
	overflow:					hidden;
	transition-duration:		0.5s;
}

.spinner {
  animation-name: 				spin;
  animation-duration: 			1000ms;
  animation-iteration-count: 	infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes fadein {
  0% 	{ opacity: 0% }
  100%  { opacity: 80% }
}

@keyframes fadeout {
  0%   	{ opacity: 80% }
  99%  	{ opacity: 0%;  }
  100% 	{ display: none; }
}
